asgiref==3.10.0
blinker==1.9.0
click==8.3.0
click-aliases==1.0.1
click-default-group==1.2.4
click-help-colors==0.9.4
colorama==0.4.6
commonmark==0.9.1
distlib==0.4.0
Django==5.2.8
filelock==3.20.0
Flask==3.1.2
greenlet==3.2.4
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.5.0
mysqlclient==2.2.7
packaging==26.0
pillow==12.0.0
platformdirs==4.5.0
Pygments==2.19.2
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
rich==9.13.0
six==1.17.0
SQLAlchemy==1.4.54
sqlparse==0.5.3
tabulate==0.8.10
task==0.2.5
typing-extensions==3.10.0.2
tzdata==2025.2
virtualenv==20.35.3
Werkzeug==3.1.3
